/* Estilos gerais */
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main .main-section {
    gap: 8px;
    flex-grow: 1;
    background-color: var(--gray-bg);
}

main .form-section {
    flex-grow: 0.3;
    padding: 0 35px;
}

main img {
    margin-bottom: 30px;
}

main h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 45px;
}

/* Estilos dos botões */
main button {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    padding: 12px 24px;
    cursor: pointer;
}

main .btn-primary {
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.2);
}

main .btn-secondary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/* Estilos do formulário */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;
}

form span {
    font-size: 14px;
    text-decoration: underline;
    color: var(--secondary-color);
    text-align: end;
}

.input-wrapper {
    color: var(--text-color);
    font-size: 16px;
    text-align: start;
}

.input-wrapper label {
    margin-bottom: 10px;
}

.input-container {
    width: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: var(--gray-secondary-bg);
    margin-top: 10px;
}

.input-container input {
    border: none;
    border-radius: 8px 0 0 8px;
    background-color: var(--gray-secondary-bg);
    padding: 12px 0 12px 20px;
    width: 100%;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.btn-wrapper .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 14px;
    color: var(--gray-bg);
    font-weight: 400;
    text-transform: uppercase;
}

.btn-wrapper .divider div {
    flex-grow: 1;
    height: 2px;
    background-color: var(--gray-bg);
}

.error-message {
    background-color: rgb(223, 132, 132);
    color: white;
    width: 100%;
}