main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main .main-section {
    gap: 8px;
    flex-grow: 1;
    background-color: var(--gray-bg);
}

main .form-section {
    flex-grow: 0.3;
    padding: 0 35px;
    
}

main img {
    margin-bottom: 30px;
}

main h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 45px;
}

main button {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    padding: 12px 24px;
    cursor: pointer;
}

main .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

main .btn-wrapper .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 14px;
    color: var(--gray-bg);
    font-weight: 400;
    text-transform: uppercase;
}

main .btn-wrapper .divider div {
    flex-grow: 1;
    height: 2px;
    background-color: var(--gray-bg); 
}

main .btn-primary {
    background-color: var(--primary-color);
    color: white;
    box-shadow:0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.20000000298023224);
}

main .btn-secundary {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}