.topbar-container {
    width: 100%;
    background-color: var(--gray-bg); 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid #0000004d
}

.topbar-logo-image{
    width: 120px;
}

.topbar-content {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.topbar-links{
    display: flex;
    margin-left: 2rem;
    gap: 3rem;
}

.topbar-links button {
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.topbar-links button:hover {
    color: var(--primary-color);
}

.topbar-user {
    margin-left: auto; 
    color: #333; /* Cor do texto */
}